<a href="https://colab.research.google.com/github/csaybar/programacionUNMSM/blob/master/class_03%3APandas/class03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PANDAS

In [0]:
import pandas as pd
import numpy as np

In [0]:
# pd.Series
# pd.DataFrame

In [6]:
#lista
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
pd.Series({'a':1,'b':2,'c':3})

a    1
b    2
c    3
dtype: int64

In [9]:
pd.Series(np.array([1,2,3,4]))

0    1
1    2
2    3
3    4
dtype: int64

In [0]:
df = pd.DataFrame({'PAIS':['Peru','Brasil','Chile'],'CAPITAL':['Lima','Brasilia','Santiago']})

In [28]:
df.head(3) # primeras
df.tail(3) # colas

    CAPITAL    PAIS
0      Lima    Peru
1  Brasilia  Brasil
2  Santiago   Chile

In [88]:
pw_df = pd.DataFrame(np.random.random((6,4)))
pw_df.columns = ['A','B','C','D']
pw_df.shape #forma (3x2)
pw_df.size #n de elementos 6

24

# I/O

In [0]:
pw_df.to_csv('mycsv.csv') #fullname

In [0]:
pw_df = pd.read_csv('mycsv.csv', index_col = 'Unnamed: 0')

#Getting

In [96]:
pw_df['D']

0    0.149325
1    0.142758
2    0.556146
3    0.004269
4    0.090501
5    0.779630
Name: D, dtype: float64

In [100]:
pw_df

          A         B         C         D
0  0.118169  0.311037  0.580229  0.149325
1  0.615973  0.896265  0.583209  0.142758
2  0.579720  0.574942  0.213906  0.556146
3  0.513737  0.699898  0.326020  0.004269
4  0.471859  0.607059  0.171932  0.090501
5  0.407038  0.858554  0.117749  0.779630

In [0]:
pw_df.iloc[] # Se utiliza para obtener un subconjunto usando la posicion.
pw_df.loc[] #                                   usando los indices y nombre de columnas.

In [104]:
pw_df.iloc[2:3,1:3]

          B         C
2  0.574942  0.213906

In [106]:
pw_df.loc[[1,2],'C']

1    0.583209
2    0.213906
Name: C, dtype: float64

# Setting

In [119]:
pw_df

          A         B         C         D
0  0.118169  0.311037  0.580229  0.149325
1  0.615973  0.896265  0.583209  0.142758
2  0.579720  0.574942  0.213906  0.556146
3  0.513737  0.699898  0.326020  0.004269
4  0.471859  0.607059  0.171932  0.090501
5  0.407038  0.858554  0.117749  0.779630

In [125]:
pw_df[pw_df['C'] > 0.3]

          A         B         C         D
2  0.579720  0.574942  0.213906  0.556146
4  0.471859  0.607059  0.171932  0.090501
5  0.407038  0.858554  0.117749  0.779630

In [133]:
pw_df.drop(['D'],axis = 1)

          A         B         C
0  0.118169  0.311037  0.580229
1  0.615973  0.896265  0.583209
2  0.579720  0.574942  0.213906
3  0.513737  0.699898  0.326020
4  0.471859  0.607059  0.171932
5  0.407038  0.858554  0.117749